.body {
  font-family: sans-serif;
  text-align: center;
}

.ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item {
  width: 10%;
  list-style: none;
}

.image {
  width: 100%;
}
